* {
    margin:0;
    padding:0;
/*    border:1px solid black*/
}

header{
    display: block;
    background-color: #f6f9f9;
    height:100px;

}

#logo{
    margin-left: 200px;
    margin-top: 35px;
    padding-left: 60px;
    display: inline-block;
    background-image: url(../images/logo.png);
    height: 40px;
    width: 200px;
    background-repeat: no-repeat;
    color: #264951;
    font-size: 30px;
}
 nav{
     margin-top: 35px;
     display: inline-block;
     font-size: 22px;
}

a {
    text-decoration: none;
    color: #264951;
    font-size: 22px;
    display: inline-block;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}
a:hover {
   color: #a9a9a9;
}



#photo_section{
    background-image: url(../images/bg_image.jpg);
    width: 1600px;
    height: 800px;
    display:block;
    color: #ffffff;
}

h1 {
    font-size: 70px;
    margin-left: 500px;
    margin-top: 200px;
    margin-bottom: 40px;
    display: inline-block;
    border-bottom: 1px solid #15a4fa;
}
h3{
     margin-left: 540px;
     font-size: 22px;
 }

.link_github{
    text-decoration:none;
    color: #ffffff;
    margin-left: 620px;
    border:1px solid #15a4fa;
    margin-top: 60px;
    font-size: 22px;
    padding: 22px;
}
.second_section{
    background-color: #f6f9f9;
    height: 340px;
}
h2{
    margin-left: 620px;
    margin-bottom: 40px;
    padding-top: 80px;
    font-size: 30px;
}
.about_myself{
    font-size: 20px;
    margin-left: 540px;
    align-content: center;
}

h2.skills{
    margin-top: 75px;
    margin-left: 530px;
    margin-bottom: 80px;
}
img{
    height: 100px;
    width: 100px;
    margin-left: 355px;
    margin-right: 35px;
}
footer{
    margin-top: 115px;
    background-color: #f6f9f9;
    display: block;
    height: 90px;
}
